
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCollectionExerciseLabel" data-translate="rrmApp.collectionExercise.home.createOrEditLabel">Create or edit a Collection Exercise</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.collectionExercise.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.collectionExercise.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rrmApp.collectionExercise.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.collectionExercise.status" id="field_status">
                <option value="UNPUBLISHED" data-translate="rrmApp.CollectionExerciseStatusKind.UNPUBLISHED">UNPUBLISHED</option>
                <option value="PUBLISHED" data-translate="rrmApp.CollectionExerciseStatusKind.PUBLISHED">PUBLISHED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rrmApp.collectionExercise.startDate" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.collectionExercise.startDate" is-open="vm.datePickerOpenStatus.startDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rrmApp.collectionExercise.endDate" for="field_endDate">End Date</label>
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" name="endDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.collectionExercise.endDate" is-open="vm.datePickerOpenStatus.endDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="rrmApp.collectionExercise.survey" for="field_survey">Survey</label>
            <select class="form-control" id="field_survey" name="survey" ng-model="vm.collectionExercise.survey" ng-options="survey as survey.id for survey in vm.surveys track by survey.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
