<div>
    <h2 data-translate="rrmApp.reportingUnitAssociation.home.title">Reporting Unit Associations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="reporting-unit-association.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="rrmApp.reportingUnitAssociation.home.createLabel">
                        Create new Reporting Unit Association
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="associationStatus"><span data-translate="rrmApp.reportingUnitAssociation.associationStatus">Association Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reportingUnit.id"><span data-translate="rrmApp.reportingUnitAssociation.reportingUnit">Reporting Unit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="respondent.id"><span data-translate="rrmApp.reportingUnitAssociation.respondent">Respondent</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="reportingUnitAssociation in vm.reportingUnitAssociations track by reportingUnitAssociation.id">
                    <td><a ui-sref="reporting-unit-association-detail({id:reportingUnitAssociation.id})">{{reportingUnitAssociation.id}}</a></td>
                    <td data-translate="{{'rrmApp.AssociationStatusKind.' + reportingUnitAssociation.associationStatus}}">{{reportingUnitAssociation.associationStatus}}</td>
                    <td>
                        <a ui-sref="reporting-unit-detail({id:reportingUnitAssociation.reportingUnit.id})">{{reportingUnitAssociation.reportingUnit.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="respondent-detail({id:reportingUnitAssociation.respondent.id})">{{reportingUnitAssociation.respondent.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="reporting-unit-association-detail({id:reportingUnitAssociation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="reporting-unit-association.edit({id:reportingUnitAssociation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="reporting-unit-association.delete({id:reportingUnitAssociation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
