<div>
    <h2 data-translate="rrmApp.enrolmentCode.home.title">Enrolment Codes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="enrolment-code.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="rrmApp.enrolmentCode.home.createLabel">
                        Create new Enrolment Code
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span data-translate="rrmApp.enrolmentCode.code">Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="relatesTo.id"><span data-translate="rrmApp.enrolmentCode.relatesTo">Relates To</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="enrolmentCode in vm.enrolmentCodes track by enrolmentCode.id">
                    <td><a ui-sref="enrolment-code-detail({id:enrolmentCode.id})">{{enrolmentCode.id}}</a></td>
                    <td>{{enrolmentCode.code}}</td>
                    <td>
                        <a ui-sref="sample-selection-detail({id:enrolmentCode.relatesTo.id})">{{enrolmentCode.relatesTo.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="enrolment-code-detail({id:enrolmentCode.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="enrolment-code.edit({id:enrolmentCode.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="enrolment-code.delete({id:enrolmentCode.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
