<div>
    <h2 data-translate="rrmApp.collectionInstrument.home.title">Collection Instruments</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="collection-instrument.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="rrmApp.collectionInstrument.home.createLabel">
                        Create new Collection Instrument
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="instrumentType"><span data-translate="rrmApp.collectionInstrument.instrumentType">Instrument Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="formType"><span data-translate="rrmApp.collectionInstrument.formType">Form Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="urn"><span data-translate="rrmApp.collectionInstrument.urn">Urn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="collectionInstrument in vm.collectionInstruments track by collectionInstrument.id">
                    <td><a ui-sref="collection-instrument-detail({id:collectionInstrument.id})">{{collectionInstrument.id}}</a></td>
                    <td data-translate="{{'rrmApp.CollectionInstrumentKind.' + collectionInstrument.instrumentType}}">{{collectionInstrument.instrumentType}}</td>
                    <td>{{collectionInstrument.formType}}</td>
                    <td>{{collectionInstrument.urn}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="collection-instrument-detail({id:collectionInstrument.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="collection-instrument.edit({id:collectionInstrument.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="collection-instrument.delete({id:collectionInstrument.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
